@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

body {
  background-color: rgb(40,50,56);
}

main {
  min-height: 100vh;
}

/* The header will be a 3:1 aspect-ratio box.
The background-image is also 3:1 (2400 x 800). */
header {
  position: relative;
  width: 100%;
  padding: 33.333333% 0 0 0;
  border-bottom: 0.5px solid rgb(92, 202, 200);
  overflow:hidden;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scale(1);
  -webkit-animation: scale_header_content 4s ease-in-out forwards;
	animation:         scale_header_content 4s ease-in-out forwards;
}

header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 50px;
  color: white;
  font-size: 50px;
  font-family: Rajdhani;
  text-align: center;
  line-height: 1;
  font-weight: bold;
  text-shadow: -2px 2px 1px rgb(40,50,56);
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../images/banner.png') no-repeat center center/cover;
  -webkit-filter: blur(2px);
  filter:         blur(2px);
  -webkit-transform: scale(1.055);
  transform:         scale(1.055);
  -webkit-animation: scale_header_background 4s ease-in-out forwards;
	animation:         scale_header_background 4s ease-in-out forwards;
  z-index: -1;
}


@-webkit-keyframes scale_header_content {
  0%   { -webkit-transform: scale(0.66)  translateZ(0px); filter: blur(3px); }
  85%  { -webkit-transform: scale(1.037) translateZ(0px); filter: blur(0px); }
  100% { -webkit-transform: scale(1)     translateZ(0px); filter: blur(0px); }
}
@keyframes scale_header_content {
  0%   { transform: scale(0.66)  translateZ(0px); filter: blur(3px); }
  85%  { transform: scale(1.037) translateZ(0px); filter: blur(0px); }
  100% { transform: scale(1)     translateZ(0px); filter: blur(0px); }
}

/* See note on unfuzzing 3D transformed text: https://3dtransforms.desandro.com/cube
If you remove this, the text will be super distorted */
/* translasteZ(0px) is to prevent distortion.
Strangely, putting it ONlY here is sufficient to elimate distortion/fuzzing on the text.
However, putting only on the scale_header_animation also works.
That said, I have also put it in both animations. */
@-webkit-keyframes scale_header_background {
  0%   { -webkit-transform: scale(1.5);   filter: blur(0px); }
  85%  { -webkit-transform: scale(1);     filter: blur(3px); }
  100% { -webkit-transform: scale(1.055); filter: blur(2px); }
}
@keyframes scale_header_background {
  0%   { transform: scale(1.5)   translateZ(0px); filter: blur(0px); }
  85%  { transform: scale(1)     translateZ(0px); filter: blur(3px); }
  100% { transform: scale(1.055) translateZ(0px); filter: blur(2px); }
}


/* Without the bounce back:
@-webkit-keyframes scale_header_background {
  from { -webkit-transform: scale(1.5); -webkit-filter: blur(0px); }
}
@keyframes scale_header_background {
  from { transform: scale(1.5); filter: blur(0px); }
}
@-webkit-keyframes scale_header_content {
  from { -webkit-transform: scale(0.66); }
}
@keyframes scale_header_content {
  from { transform: scale(0.66); }
}
*/


/* =============================================================================
                            Media Queries
============================================================================= */


@media only screen and (min-width: 960px) {
  header h1 { font-size: 64px; }
}

@media only screen and (max-width: 520px) {
  header h1 { font-size: 40px; }
  header h1 span { display:none; }
}
